<section class="favorite-cocktails-section is-empty">
  <div class="container">
    <h2 class="section-title fav-cocktails-section-title">
      Favorite cocktails
    </h2>
    <ul class="favorite-cocktails-list"></ul>
    <div class="placeholder-empty-favorite-list">
      <svg class="empty-favorite-img">
        <use href="./img/sprite.svg#icon-placeholder-empty-list"></use>
      </svg>
      <p class="empty-favorite-text">
        You haven't added any
        <span class="empty-favorite-text-span">favorite cocktails</span> yet
      </p>
    </div>
  </div>
</section>
