<section class="container tablet-view">
  <h2 class="title-one" >FAVORITE INGREDIENTS </h2>
  <!-- style="text-align: center" -->
  <div class="card">
    <ul class="card-container">
      <h2 class="title-two">Campari</h2>
      <p class="title-three">Alcoholic</p>
        <p class="ingredients">
          Campari is an Italian alcoholic liqueur, considered an apéritif, obtained from the infusion of herbs and fruit in
          alcohol and
        </p>
          <li>
            <div class="button-ingredients">
              <button class="learn-more">learn more</button>
                <button class="delete">
                  <svg width="18px" height="18px" class="logo_svg__delete">
                    <use href="./img/sprite.svg#icon-trash"></use>
                  </svg>
                </button>
            </div>
          </li>
    </ul>
  </div>

<div class="card">
  <ul class="card-container">
    <h2 class="title-two">Campari</h2>
    <p class="title-three">Alcoholic</p>
    <p class="ingredients">
      Campari is an Italian alcoholic liqueur, considered an apéritif, obtained from the infusion of herbs and fruit in
      alcohol and
    </p>
    <li>
      <div class="button-ingredients">
        <button class="learn-more">learn more</button>
        <button class="delete">
          <svg width="18px" height="18px" class="logo_svg__delete">
            <use href="./img/sprite.svg#icon-trash"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</div>
<div class="card">
  <ul class="card-container">
    <h2 class="title-two">Campari</h2>
    <p class="title-three">Alcoholic</p>
    <p class="ingredients">
      Campari is an Italian alcoholic liqueur, considered an apéritif, obtained from the infusion of herbs and fruit in
      alcohol and
    </p>
    <li>
      <div class="button-ingredients">
        <button class="learn-more">learn more</button>
        <button class="delete">
          <svg width="18px" height="18px" class="logo_svg__delete">
            <use href="./img/sprite.svg#icon-trash"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</div>
<div class="card">
  <ul class="card-container">
    <h2 class="title-two">Campari</h2>
    <p class="title-three">Alcoholic</p>
    <p class="ingredients">
      Campari is an Italian alcoholic liqueur, considered an apéritif, obtained from the infusion of herbs and fruit in
      alcohol and
    </p>
    <li>
      <div class="button-ingredients">
        <button class="learn-more">learn more</button>
        <button class="delete">
          <svg width="18px" height="18px" class="logo_svg__delete">
            <use href="./img/sprite.svg#icon-trash"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</div>
<div class="card">
  <ul class="card-container">
    <h2 class="title-two">Campari</h2>
    <p class="title-three">Alcoholic</p>
    <p class="ingredients">
      Campari is an Italian alcoholic liqueur, considered an apéritif, obtained from the infusion of herbs and fruit in
      alcohol and
    </p>
    <li>
      <div class="button-ingredients">
        <button class="learn-more">learn more</button>
        <button class="delete">
          <svg width="18px" height="18px" class="logo_svg__delete">
            <use href="./img/sprite.svg#icon-trash"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</div>
<div class="card">
  <ul class="card-container">
    <h2 class="title-two">Campari</h2>
    <p class="title-three">Alcoholic</p>
    <p class="ingredients">
      Campari is an Italian alcoholic liqueur, considered an apéritif, obtained from the infusion of herbs and fruit in
      alcohol and
    </p>
    <li>
      <div class="button-ingredients">
        <button class="learn-more">learn more</button>
        <button class="delete">
          <svg width="18px" height="18px" class="logo_svg__delete">
            <use href="./img/sprite.svg#icon-trash"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</div>
</section>
