<section class="favorite-ingredients-section">
  <div class="container">
    <h2 class="section-title fav-ingredients-section-title">
      Favorite ingredients
    </h2>
    <ul class="favorite-ingredients-list">
      <li class="favorite-ingredient-item">
        <h3 class="fav-ingredient-title">Campari</h3>
        <h4 class="is-alcoholic-drink-title">Alcoholic</h4>
        <p class="fav-ingredient-description">
          Campari is an Italian alcoholic liqueur, considered an apéritif,
          obtained from the infusion of herbs and fruit in alcohol and water.
        </p>
        <div class="ingredient-card-btns">
          <button class="learn-more-ingredient-btn">learn more</button>
          <button class="remove-ingredient-btn">
            <svg width="18px" height="18px" class="icon-trash">
              <use href="./img/sprite.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="favorite-ingredient-item">
        <h3 class="fav-ingredient-title">Campari</h3>
        <h4 class="is-alcoholic-drink-title">Alcoholic</h4>
        <p class="fav-ingredient-description">
          Campari is an Italian alcoholic liqueur, considered an apéritif,
          obtained from the infusion of herbs and fruit in alcohol and water.
        </p>
        <div class="ingredient-card-btns">
          <button class="learn-more-ingredient-btn">learn more</button>
          <button class="remove-ingredient-btn">
            <svg width="18px" height="18px" class="icon-trash">
              <use href="./img/sprite.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="favorite-ingredient-item">
        <h3 class="fav-ingredient-title">Campari</h3>
        <h4 class="is-alcoholic-drink-title">Alcoholic</h4>
        <p class="fav-ingredient-description">
          Campari is an Italian alcoholic liqueur, considered an apéritif,
          obtained from the infusion of herbs and fruit in alcohol and water.
        </p>
        <div class="ingredient-card-btns">
          <button class="learn-more-ingredient-btn">learn more</button>
          <button class="remove-ingredient-btn">
            <svg width="18px" height="18px" class="icon-trash">
              <use href="./img/sprite.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="favorite-ingredient-item">
        <h3 class="fav-ingredient-title">Campari</h3>
        <h4 class="is-alcoholic-drink-title">Alcoholic</h4>
        <p class="fav-ingredient-description">
          Campari is an Italian alcoholic liqueur, considered an apéritif,
          obtained from the infusion of herbs and fruit in alcohol and water.
        </p>
        <div class="ingredient-card-btns">
          <button class="learn-more-ingredient-btn">learn more</button>
          <button class="remove-ingredient-btn">
            <svg width="18px" height="18px" class="icon-trash">
              <use href="./img/sprite.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="favorite-ingredient-item">
        <h3 class="fav-ingredient-title">Campari</h3>
        <h4 class="is-alcoholic-drink-title">Alcoholic</h4>
        <p class="fav-ingredient-description">
          Campari is an Italian alcoholic liqueur, considered an apéritif,
          obtained from the infusion of herbs and fruit in alcohol and water.
        </p>
        <div class="ingredient-card-btns">
          <button class="learn-more-ingredient-btn">learn more</button>
          <button class="remove-ingredient-btn">
            <svg width="18px" height="18px" class="icon-trash">
              <use href="./img/sprite.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="favorite-ingredient-item">
        <h3 class="fav-ingredient-title">Campari</h3>
        <h4 class="is-alcoholic-drink-title">Alcoholic</h4>
        <p class="fav-ingredient-description">
          Campari is an Italian alcoholic liqueur, considered an apéritif,
          obtained from the infusion of herbs and fruit in alcohol and water.
        </p>
        <div class="ingredient-card-btns">
          <button class="learn-more-ingredient-btn">learn more</button>
          <button class="remove-ingredient-btn">
            <svg width="18px" height="18px" class="icon-trash">
              <use href="./img/sprite.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
