<section class="favorite-ingredients-section favorite-section">
  <div class="container">
    <h2 class="section-title fav-ingredients-section-title">
      Favorite ingredients
    </h2>
    <ul class="favorite-ingredients-list favorite-list"></ul>
    <div class="placeholder-empty-favorite-list visually-hidden">
      <svg class="empty-favorite-img">
        <use href="./img/sprite.svg#icon-placeholder-empty-list"></use>
      </svg>
      <p class="empty-favorite-text">
        You haven't added any
        <span class="empty-favorite-text-span">favorite ingredients</span> yet
      </p>
    </div>
    <div id="tui-pagination-container" class="tui-pagination hidden"></div>
  </div>
</section>
