<section class="container favorite-cocktails">
  <h2 class="title-section">Favorite cocktails</h2>
  <ul class="cocktails-item"></ul>
  <div class="favorite-content">
    <img
      class="favorite-content-img"
      src="../img/favorite-cocktails/cocktail-shaker.jpg"
      srcset="../img/favorite-cocktails/coctail-shaker@2x.jpg 2x"
      srcset="../img/favorite-cocktails/cocktail-shaker@3x.jpg 3x"
      alt=""
    />
    <p class="favorite-content-text">
      You haven't added any
      <span class="favorite-content-text-span">favorite cocktails</span> yet
    </p>
  </div>
</section>
