<footer class="footer" id="footer">
  <div class="footer-container-global container">
    <div class="footer-container">
      <div class="logo-container-footer">
        <a href="./index.html" class="logo nav-link"
          >DRINKIFY
          <svg width="21" height="20" class="logo-icon-footer">
            <use href="./img/sprite.svg#icon-cocktail"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="footer-container-socials">
      <p class="footer-p">We in social</p>
      <ul class="footer-list list">
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="footer-icon" width="14" height="14">
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="footer-icon" width="14" height="14">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="footer-icon" width="14" height="14">
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
