<section class="hero">
  <div class="container hero-container">
    <div class="hero-textcontent-box">
      <h1 class="slogan">
        A party without <span class="slogan-accent">cocktails</span> <br />
        is not like a party
      </h1>
      <p class="slogsn-desc">
        From classic sips to exotic mixes, we're your key to becoming a cocktail
        wizard!
      </p>
      <button class="hero-btn" type="button">View cocktails</button>
    </div>

    <div class="hero-img-box">
      <!-- <svg class="hero-icon" aria-label="star_elements" width ="342" height ="481">
        <use href="img/sprite.svg#icon-bg-hero"></use>
      </svg> -->
      <!-- <div class="rectangle"> -->
      <!-- <div class="rectangle"></div> -->
      <picture class="pictures">
        <source
          srcset="
            img/hero/Girl_desktop@1x.png 1x,
            img/hero/Girl_desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            img/hero/Girl_tablet@1x.png 1x,
            img/hero/Girl_tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            img/hero/Girl_mobile@1x.png 1x,
            img/hero/Girl_mobile@2x.png 2x
          "
          media="(min-width: 375px)"
        />
        <img src="img/hero/Girl_mobile@1x.png" alt="girl with drink" />
      </picture>

      <p class="hero-icon-box-desc">Search your favorite cocktail by ABC</p>
    </div>
  </div>
</section>
