<!-- <div class="backdrop"> -->
<div class="modal-ingredient-container">
  <button type="button" class="modal-close-btn" aria-label="close modal window">
    <svg class="modal-close-icon">
      <use href="/img/sprite.svg#icon-close-modal"></use>
    </svg>
  </button>

  <h2 class="modal-ingredient-title">Campari</h2>
  <h3 class="modal-ingredient-subtitle">Liqueur</h3>

  <p class="modal-ingredient-text">
    <span class="modal-ingredient-text-part">Campari </span> is an Italian
    alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5%
    ABV, depending on the country in which it is sold), obtained from the
    infusion of herbs and fruit (including chinotto and cascarilla) in alcohol
    and water. It is a bitters, characterised by its dark red colour.
  </p>
  <ul class="modal-ingredient-list">
    <li class="modal-ingredients-list-item">Type: Bitters</li>
    <li class="modal-ingredients-list-item">Country of origin: Italy</li>
    <li class="modal-ingredients-list-item">
      Alcohol by volume: 20.5 - 28.5 %
    </li>
    <li class="modal-ingredients-list-item">
      Flavour : Bitter, spicy and sweet
    </li>
  </ul>

  <div class="modal-ingredient-button-section">
    <button
      class="modal-ingredient-add-and-remove-button"
      type="button"
      aria-label="add or remove ingredients"
    >
      add to favorite
    </button>

    <button
      class="modal-ingredient-cancel-button"
      type="button"
      aria-label="cansel modal window"
    >
      BACK
    </button>
  </div>
</div>

<!-- </div> -->
