<div class="backdrop">
  <div class="modal ingredient-modal">
    <button
      type="button"
      class="modal-close-btn"
      aria-label="close modal window"
    >
      <svg class="modal-close-icon">
        <use href="/img/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>
    <h2 class="ingredient-title">Campari</h2>
    <h3 class="ingredient-type">Liqueur</h3>
    <p class="ingredient-description">
      <span class="ingredient-description-name">Campari</span> is an Italian
      alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5%
      ABV, depending on the country in which it is sold), obtained from the
      infusion of herbs and fruit (including chinotto and cascarilla) in alcohol
      and water. It is a bitters, characterised by its dark red colour.
    </p>
    <ul class="ingredient-properties-list">
      <li class="ingredient-properties-item">Type: Bitters</li>
      <li class="ingredient-properties-item">Country of origin: Italy</li>
      <li class="ingredient-properties-item">
        Alcohol by volume: 20.5 - 28.5 %
      </li>
      <li class="ingredient-properties-item">
        Flavour: Bitter, spicy and sweet
      </li>
    </ul>
    <div class="modal-btns">
      <button
        class="add-or-remove-btn"
        type="button"
        aria-label="add or remove ingredient"
      >
        add to favorite
      </button>
      <button
        class="back-modal-close-btn"
        type="button"
        aria-label="close modal window"
      >
        BACK
      </button>
    </div>
  </div>
</div>
