<div class="backdrop">
  <div class="modal cocktail-modal">
    <button
      type="button"
      class="modal-close-btn"
      aria-label="close modal window"
    >
      <svg class="modal-close-icon">
        <use href="/img/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>
    <div class="cocktail-about-wrapper">
      <img
        class="cocktail-img"
        src="./img/placeholder.jpg"
        alt="cocktail"
        width="295"
        height="277"
      />
      <div class="cocktail-ingredients-container">
        <h3 class="cocktail-title">Acid</h3>
        <h4 class="cocktail-ingredients-title">Ingredients:</h4>
        <h5 class="cocktail-per-cocktail">Per cocktail</h5>
        <ul class="per-cocktail-ingredients-list">
          <li class="per-cocktail-ingredient-item">
            <button type="button" class="per-cocktail-ingredient-btn">
              Ice
            </button>
          </li>
          <li class="per-cocktail-ingredient-item">
            <button type="button" class="per-cocktail-ingredient-btn">
              1 ounce gin
            </button>
          </li>
          <li class="per-cocktail-ingredient-item">
            <button type="button" class="per-cocktail-ingredient-btn">
              1 ounce Campari
            </button>
          </li>
          <li class="per-cocktail-ingredient-item">
            <button type="button" class="per-cocktail-ingredient-btn">
              1 ounce sweet vermouth
            </button>
          </li>
          <li class="per-cocktail-ingredient-item">
            <button type="button" class="per-cocktail-ingredient-btn">
              Garnish: orange peel
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="cocktail-instruction-wrapper">
      <h4 class="cocktail-instruction-title">Instructions:</h4>
      <p class="cocktail-instruction">
        Add the gin, Campari and sweet vermouth to a mixing glass filled with
        ice, and stir until well-chilled. Strain into a rocks glass filled with
        large ice cubes. Garnish with an orange peel. ampari and sweet vermouth
        to a mixing glass filled with ice, and stir until well-chilled. Strain
        into a rocks glass filled with large ice cubes. Garnish with an orange
        peel. ampari and sweet vermouth to a mixing glass filled with ice, and
        stir until well-chilled. Strain into a rocks glass filled with large ice
        cubes. Garnish with an orange peel.
      </p>
    </div>
    <div class="modal-btns">
      <button
        class="add-or-remove-from-ls-modal-btn"
        type="button"
        aria-label="add or remove cocktail"
      >
        add to favorite
      </button>

      <button
        class="back-modal-close-btn back-btn-cocktail"
        type="button"
        aria-label="close modal window"
      >
        BACK
      </button>
    </div>
  </div>
</div>
