<div class="backdrop">
  <div class="modal cocktail-modal">
    <button
      type="button"
      class="modal-close-btn"
      aria-label="close modal window"
    >
      <svg class="modal-close-icon">
        <use href="/img/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>

    <div class="cocktail-tabl-and-laptop">
      <img
        id="cocktailImg"
        src="./img/placeholder.jpg"
        alt="cocktail"
        class="cocktail-img"
      />

      <div class="cocktail-ingredients-container">
        <p class="cocktail-title">Acid</p>
        <p class="cocktail-ingredients-title">Ingredients:</p>
        <p class="cocktail-per">Per cocktail</p>

        <ul class="cocktail-list">
          <li class="cocktail-item">Ice</li>
          <li class="cocktail-item">1 ounce gin</li>
          <li class="cocktail-item">1 ounce Campari</li>
          <li class="cocktail-item">1 ounce sweet vermouth</li>
          <li class="cocktail-item">Garnish: orange peel</li>
        </ul>
      </div>
    </div>

    <div class="cocktail-instruction-div">
      <p class="cocktail-ingredients-title cocktail-instr-title">
        Instructions:
      </p>
      <p class="cocktail-instruction">
        Add the gin, Campari and sweet vermouth to a mixing glass filled with
        ice, and stir until well-chilled. Strain into a rocks glass filled with
        large ice cubes. Garnish with an orange peel.
      </p>
    </div>

    <div class="modal-btns">
      <button
        class="add-or-remove-btn"
        type="button"
        aria-label="add or remove cocktail"
      >
        add to favorite
      </button>

      <button
        class="back-modal-close-btn"
        type="button"
        aria-label="close modal window"
      >
        BACK
      </button>
    </div>
  </div>
</div>
