<section class="pagination-container is-active-pagination">
  <div class="container wrap-pagination">
    <div class="pagenumbers" id="pagination">
      <button type="button" class="left-button button-pagination">
        <svg class="left-arrow" height="24" width="24">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
      <ul id="pagination-list" class="pagination-list"></ul>
      <button type="button" class="right-button button-pagination">
        <svg class="right-arrow" height="24" width="24">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
