<section class="plagination-container">
  <div class="container wrap-pagination">
    <div class="pagenumbers" id="plagination">
      <button type="button" class="left-button button-pagination">
        <svg class="left-arrow" height="24" width="24">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
      <ul id="plagination-list" class="plagination-list"></ul>
      <button type="button" class="right-button button-pagination">
        <svg class="right-arrow" height="24" width="24">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
