<section class="search-section container">
  <ul class="keyboard-list" data-action="keyboard"></ul>
  <select class="select-letters"></select>
  <form class="search-form">
    <div class="input-wraper">
      <input
        placeholder="Search"
        name="search"
        class="search-form-input"
        type="text"
      />
      <button
        class="search-form-btn"
        type="submit"
        aria-label="search cocktails"
      >
        <svg class="icon-search" width="18px" height="18px">
          <use href="./img/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </div>
  </form>
</section>
