<section class="container">
  <div class="keyboard__list keyboard" data-action="keyboard">
    <ul class="first--line">
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="a">A</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="b">B</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="c">C</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="d">D</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="e">E</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="f">F</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="g">G</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="h">H</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="i">I</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="j">J</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="k">K</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="l">L</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="m">M</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="n">N</div>
      </li>
    </ul>
    <ul class="second--line">
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="o">O</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="p">P</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="q">Q</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="r">R</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="s">S</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="t">T</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="u">U</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="v">V</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="w">W</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="x">X</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="y">Y</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="z">Z</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="1">1</div>
      </li>
    </ul>
    <ul class="third--line">
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="2">2</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="3">3</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="4">4</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="5">5</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="6">6</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="7">7</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="8">8</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="9">9</div>
      </li>
      <li class="leters-wrap">
        <div class="keyboard--item" data-id="0">0</div>
      </li>
    </ul>
  </div>
  <div class="keyboard__custom">
    <details class="custom-select">
      <summary class="radios">
        <input
          type="radio"
          name="item"
          id="default"
          data-id="a"
          title="A"
          checked
        />
        <input type="radio" name="item" id="item1" data-id="b" title="B" />
        <input type="radio" name="item" id="item2" data-id="c" title="C" />
        <input type="radio" name="item" id="item3" data-id="d" title="D" />
        <input type="radio" name="item" id="item4" data-id="e" title="E" />
        <input type="radio" name="item" id="item5" data-id="f" title="F" />
        <input type="radio" name="item" id="item6" data-id="g" title="G" />
        <input type="radio" name="item" id="item7" data-id="h" title="H" />
        <input type="radio" name="item" id="item8" data-id="i" title="I" />
        <input type="radio" name="item" id="item9" data-id="j" title="J" />
        <input type="radio" name="item" id="item10" data-id="k" title="K" />
        <input type="radio" name="item" id="item11" data-id="l" title="L" />
        <input type="radio" name="item" id="item12" data-id="m" title="M" />
        <input type="radio" name="item" id="item13" data-id="n" title="N" />
        <input type="radio" name="item" id="item14" data-id="o" title="O" />
        <input type="radio" name="item" id="item15" data-id="p" title="P" />
        <input type="radio" name="item" id="item16" data-id="q" title="Q" />
        <input type="radio" name="item" id="item17" data-id="r" title="R" />
        <input type="radio" name="item" id="item18" data-id="s" title="S" />
        <input type="radio" name="item" id="item19" data-id="t" title="T" />
        <input type="radio" name="item" id="item20" data-id="u" title="U" />
        <input type="radio" name="item" id="item21" data-id="v" title="V" />
        <input type="radio" name="item" id="item22" data-id="w" title="W" />
        <input type="radio" name="item" id="item23" data-id="x" title="X" />
        <input type="radio" name="item" id="item24" data-id="y" title="Y" />
        <input type="radio" name="item" id="item25" data-id="z" title="Z" />
        <input type="radio" name="item" id="item26" data-id="1" title="1" />
        <input type="radio" name="item" id="item27" data-id="2" title="2" />
        <input type="radio" name="item" id="item28" data-id="3" title="3" />
        <input type="radio" name="item" id="item29" data-id="4" title="4" />
        <input type="radio" name="item" id="item30" data-id="5" title="5" />
        <input type="radio" name="item" id="item31" data-id="6" title="6" />
        <input type="radio" name="item" id="item32" data-id="7" title="7" />
        <input type="radio" name="item" id="item33" data-id="8" title="8" />
        <input type="radio" name="item" id="item34" data-id="0" title="9" />
        <input type="radio" name="item" id="item35" data-id="0" title="0" />
      </summary>
      <ul class="select-list">
        <li class="select-item">
          <label for="item1">B</label>
        </li>
        <li class="select-item">
          <label for="item2">C</label>
        </li>
        <li class="select-item">
          <label for="item3">D</label>
        </li>
        <li class="select-item">
          <label for="item4">E</label>
        </li>
        <li class="select-item">
          <label for="item5">F</label>
        </li>
        <li class="select-item">
          <label for="item6">G</label>
        </li>
        <li class="select-item">
          <label for="item7">H</label>
        </li>
        <li class="select-item">
          <label for="item8">I</label>
        </li>
        <li class="select-item">
          <label for="item9">J</label>
        </li>
        <li class="select-item">
          <label for="item10">K</label>
        </li>
        <li class="select-item">
          <label for="item11">L</label>
        </li>
        <li class="select-item">
          <label for="item12">M</label>
        </li>
        <li class="select-item">
          <label for="item13">N</label>
        </li>
        <li class="select-item">
          <label for="item14">O</label>
        </li>
        <li class="select-item">
          <label for="item15">P</label>
        </li>
        <li class="select-item">
          <label for="item16">Q</label>
        </li>
        <li class="select-item">
          <label for="item17">R</label>
        </li>
        <li class="select-item">
          <label for="item18">S</label>
        </li>
        <li class="select-item">
          <label for="item19">T</label>
        </li>
        <li class="select-item">
          <label for="item20">U</label>
        </li>
        <li class="select-item">
          <label for="item21">V</label>
        </li>
        <li class="select-item">
          <label for="item22">W</label>
        </li>
        <li class="select-item">
          <label for="item23">X</label>
        </li>
        <li class="select-item">
          <label for="item24">Y</label>
        </li>
        <li class="select-item">
          <label for="item25">Z</label>
        </li>
        <li class="select-item">
          <label for="item26">1</label>
        </li>
        <li class="select-item">
          <label for="item27">2</label>
        </li>
        <li class="select-item">
          <label for="item28">3</label>
        </li>
        <li class="select-item">
          <label for="item29">4</label>
        </li>
        <li class="select-item">
          <label for="item30">5</label>
        </li>
        <li class="select-item">
          <label for="item31">6</label>
        </li>
        <li class="select-item">
          <label for="item32">7</label>
        </li>
        <li class="select-item">
          <label for="item33">8</label>
        </li>
        <li class="select-item">
          <label for="item34">9</label>
        </li>
        <li class="select-item">
          <label for="item35">0</label>
        </li>
      </ul>
    </details>
  </div>

  <form class="header__form">
    <input placeholder="Search" name="input" class="form__input" type="text" />
    <button class="form__btn" type="submit">
      <svg class="form__img" width="18px" height="18px">
        <use href="./img/sprite.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</section>
