<section class="section contact-section">
  <div class="container">
    <h2 class="section-title">Project team</h2>
    <div class="swiper members-swiper">
      <ul class="members-list swiper-wrapper">
        <li class="members-list-item swiper-slide">
          <img
            width=""
            height=""
            class="members-foto"
            src="/img/swiper/IMG_1801.webp"
            srcset=""
            alt="YAKIV"
          />
          <h2 class="members-name">YAKIV HRUBSKYI</h2>
          <h3 class="members-subtitle-name">Team lead</h3>
          <div class="like-dislike-btn">
            <button type="button" class="btn-like">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-heart"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <button type="button" class="btn-dislike">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-dislike"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-dislike"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="members-list-item swiper-slide">
          <img
            width=""
            height=""
            class="members-foto"
            src="/img/swiper/IMG_1802.webp"
            srcset=""
            alt="ILIA SEMENOVA"
          />
          <h2 class="members-name">ILIA SEMENOVA</h2>
          <h3 class="members-subtitle-name">Scrum master</h3>
          <div class="like-dislike-btn">
            <button type="button" class="btn-like">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-heart"
                aria-label="like button"
              >
                <use href="./img/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <button type="button" class="btn-dislike">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-dislike"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-dislike"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="members-list-item swiper-slide">
          <img
            width=""
            height=""
            class="members-foto"
            src="/img/swiper/IMG_1803.webp"
            srcset=""
            alt="SERHII LUTSENKO"
          />
          <h2 class="members-name">SERHII LUTSENKO</h2>
          <h3 class="members-subtitle-name">Full-stack developer</h3>
          <div class="like-dislike-btn">
            <button type="button" class="btn-like">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-heart"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <button type="button" class="btn-dislike">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-dislike"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-dislike"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="members-list-item swiper-slide">
          <img
            width=""
            height=""
            class="members-foto"
            src="../img/swiper/IMG_1805.webp"
            srcset=""
            alt="SERGII PIGAN"
          />
          <h2 class="members-name">SERGII PIGAN</h2>
          <h3 class="members-subtitle-name">Full-stack developer</h3>
          <div class="like-dislike-btn">
            <button type="button" class="btn-like">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-heart"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <button type="button" class="btn-dislike">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-dislike"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-dislike"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="members-list-item swiper-slide">
          <img
            width=""
            height=""
            class="members-foto"
            src="/img/swiper/IMG_1806.webp"
            srcset=""
            alt="YURII KRAVCHUK"
          />
          <h2 class="members-name">YURII KRAVCHUK</h2>
          <h3 class="members-subtitle-name">Full-stack developer</h3>
          <div class="like-dislike-btn">
            <button type="button" class="btn-like">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-heart"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <button type="button" class="btn-dislike">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-dislike"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-dislike"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="members-list-item swiper-slide">
          <img
            width=""
            height=""
            class="members-foto"
            src="/img/swiper/IMG_1807.webp"
            srcset=""
            alt="OLESIA MEDVEDEVA"
          />
          <h2 class="members-name">OLESIA MEDVEDEVA</h2>
          <h3 class="members-subtitle-name">Full-stack developer</h3>
          <div class="like-dislike-btn">
            <button type="button" class="btn-like">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-heart"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <button type="button" class="btn-dislike">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-dislike"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-dislike"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="members-list-item swiper-slide">
          <img
            width=""
            height=""
            class="members-foto"
            src="/img/swiper/IMG_1808.webp"
            srcset=""
            alt="OLEXANDRA PRYSCHEPA"
          />
          <h2 class="members-name">OLEXANDRA PRYSCHEPA</h2>
          <h3 class="members-subtitle-name">Full-stack developer</h3>
          <div class="like-dislike-btn">
            <button type="button" class="btn-like">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-heart"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <button type="button" class="btn-dislike">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-dislike"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-dislike"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="members-list-item swiper-slide">
          <img
            width=""
            height=""
            class="members-foto"
            src="/img/swiper/stock-photo-dog-summer-beach.webp"
            srcset=""
            alt="ANGELINA CHOLAK"
          />
          <h2 class="members-name">ANGELINA CHOLAK</h2>
          <h3 class="members-subtitle-name">Full-stack developer</h3>
          <div class="like-dislike-btn">
            <button type="button" class="btn-like">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-heart"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <button type="button" class="btn-dislike">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-dislike"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-dislike"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="members-list-item swiper-slide">
          <img
            width=""
            height=""
            class="members-foto"
            src="/img/swiper/stock-photo-beagle-in-sunglasses-drink-cocktail.webp"
            srcset=""
            alt="ANDRII POPOV"
          />
          <h2 class="members-name">ANDRII POPOV</h2>
          <h3 class="members-subtitle-name">Full-stack developer</h3>
          <div class="like-dislike-btn">
            <button type="button" class="btn-like">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-heart"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <button type="button" class="btn-dislike">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-dislike"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-dislike"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="members-list-item swiper-slide">
          <img
            width=""
            height=""
            class="members-foto"
            src="/img/swiper/stock-photo-dog-sings-a-song.webp"
            srcset=""
            alt="MYKOLA PAVLOVYCH"
          />
          <h2 class="members-name">MYKOLA PAVLOVYCH</h2>
          <h3 class="members-subtitle-name">Full-stack developer</h3>
          <div class="like-dislike-btn">
            <button type="button" class="btn-like">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-heart"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-heart"></use>
              </svg>
            </button>
            <button type="button" class="btn-dislike">
              <svg
                width="24px"
                height="24px"
                class="svg-icon-dislike"
                aria-label="like button"
              >
                <use href="/img/sprite.svg#icon-dislike"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination members-pagination"></div>
    </div>
  </div>
</section>
