:root {
  --primary-text-color-light-theme: #242424;
  --primary-bg-color-light-theme: #fdfdff;

  --primary-text-color-dark-theme: #fdfdff;
  --primary-bg-color-dark-theme: #232330;

  --accent-color: #7e8fdd;
  --additional-color: #9cdfdf;

  --primary-font-family: 'Poppins', sans-serif;
  --secondary-font-family: 'Montserrat', sans-serif;
}

body {
  font-family: var(--primary-font-family);
}

body.dark-theme {
  color: var(--primary-text-color-dark-theme);
}

body.light-theme {
  color: var(--primary-text-color-light-theme);
}

/* 
 Utilities
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid tomato;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
