/* reset styles button section header */
.header-button-styles {
  display: block;
  padding: 0;

  border: none;
  background-color: transparent;
}

body.light-theme .dark-icon {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body.light-theme .light-icon {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

body.dark-theme .light-icon {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body.dark-theme .dark-icon {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

/* Icon styles */
.logo-icon {
  fill: var(--accent-color);
}

.logo-svg-modal-menu {
  fill: var(--additional-color);
}

.light-icon {
  stroke: var(--primary-text-color);
  transition: stroke var(--general-transition);
}

.light-icon-modal {
  stroke: var(--primary-bg-color);
  transition: stroke var(--general-transition);
}

.arrow-header,
.arrow-header-modal {
  transition: transform var(--general-transition);
}

.arrow-header {
  stroke: var(--accent-color);
}

.arrow-header-modal {
  stroke: var(--primary-svg-color);
}

.dark-icon {
  stroke: var(--additional-color);
  transition: stroke var(--general-transition);
}

.star-icon {
  display: none;
}

/* Header Styles */

.dark-light:hover .light-icon-modal {
  stroke: var(--additional-color);
}

.dark-light:hover .light-icon {
  stroke: var(--additional-color);
}

.dark-light:hover .dark-icon-modal {
  stroke: var(--primary-svg-color);
}

.dark-light:hover .dark-icon {
  stroke: var(--primary-svg-color);
}

.no-scrolling-body {
  overflow-y: hidden;
}

/* nav */
header .nav-link {
  transition: color var(--general-transition);
}

header .nav-link:hover,
header .nav-link:focus {
  color: var(--active-color);
}

.main-nav {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.header-nav {
  display: none;
}

.header-list-nav {
  display: flex;
  align-items: center;
  column-gap: 28px;

  font-size: 16px;
  line-height: 112.5%;
  letter-spacing: 0.32px;
  color: var(--primary-text-color);
}

.header-button-styles {
  display: flex;
  align-items: center;
}

/* logo */

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 4px;

  font-size: 16px;
  font-weight: 600;
  line-height: 112.5%;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

/* Dark or light */
.dark-light-desctop {
  display: none;
}

.dark-and-lite-container {
  margin-left: auto;
}

/* Burger */

/* Modal */
/* logo */
.burger-svg-header {
  stroke: var(--primary-text-color);
  transition: stroke var(--general-transition);
}

.burger:hover .burger-svg-header,
.burger:focus .burger-svg-header {
  stroke: var(--active-color);
}

.header-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* code */
.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  background-color: var(--accent-color);

  transition: visibility var(--general-transition),
    opacity var(--general-transition), pointer-events var(--general-transition);
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;

  max-height: 432px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.close-svg-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;

  stroke: var(--primary-svg-color);
  transition: stroke var(--general-transition);
}

.close-mob-menu-btn:hover .close-svg-modal-header,
.close-mob-menu-btn:focus .close-svg-modal-header {
  stroke: var(--additional-color);
}

.modal-logo {
  display: flex;
  align-items: center;
  column-gap: 4px;

  font-size: 16px;
  font-weight: 600;
  line-height: 112.5%;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  color: var(--primary-svg-color);

  transition: color var(--general-transition);
}

.modal-logo:focus,
.modal-logo:hover {
  color: var(--additional-color);
}

.flex-container-icon {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.modal-nav-favorite {
  column-gap: 4px;

  font-size: 18px;
  line-height: 133.333%;
  letter-spacing: 0.36px;
  color: var(--primary-svg-color);

  transition: color var(--general-transition);
}

.modal-nav-favorite:focus,
.modal-nav-favorite:hover {
  color: var(--additional-color);
}

.modal-nav-favorite:focus .arrow-header-modal,
.modal-nav-favorite:hover .arrow-header-modal {
  stroke: var(--additional-color);
}

.modal-nav-home {
  font-size: 18px;
  line-height: 133.333%;
  letter-spacing: 0.36px;
  color: var(--primary-svg-color);

  transition: color var(--general-transition);
}

.modal-nav-home:focus,
.modal-nav-home:hover {
  color: var(--additional-color);
}

.header-modal-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
  margin-bottom: 80px;
}

.list-modal-nav {
  display: flex;
  flex-direction: column;
  gap: 6px;

  text-align: center;
}

.link-modal-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;

  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  transition: visibility var(--general-transition),
    opacity var(--general-transition), pointer-events var(--general-transition);
}

.is-active-arrow {
  transform: rotate(180deg);
}

.link-modal-nav {
  font-size: 14px;
  text-align: center;
  line-height: 128.571%;
  letter-spacing: 0.28px;
  color: rgba(253, 253, 255, 0.5);

  transition: color var(--general-transition);
}

.link-modal-nav:focus,
.link-modal-nav:hover {
  color: var(--primary-svg-color);
}

.is-open-drop-down-modal-menu {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .main-nav {
    padding-top: 24px;
  }

  /* logo */
  .logo {
    font-size: 22px;
    line-height: 109.091%;
    letter-spacing: -0.22px;
  }

  .logo-icon {
    width: 29px;
    height: 25px;
  }

  .burger-svg-header {
    width: 40px;
    height: 40px;
  }

  /* Modal */
  .modal-body {
    padding-top: 24px;
  }

  /* logo */
  .modal-logo {
    font-size: 22px;
    line-height: 109.091%;
    letter-spacing: -0.22px;
  }

  .logo-svg-modal-menu {
    width: 29px;
    height: 25px;
  }

  /* Dark or light */
  .flex-container-icon {
    column-gap: 24px;
  }

  .light-icon-modal {
    width: 64px;
    height: 32px;
  }

  .dark-icon-modal {
    width: 64px;
    height: 32px;
    transition: stroke var(--general-transition);
  }

  /* close */
  .close-svg-modal-header {
    width: 40px;
    height: 40px;
  }

  /* Modal nav */
  .modal-nav-home {
    font-size: 24px;
    letter-spacing: 0.48px;
  }

  .modal-nav-favorite {
    font-size: 24px;
    letter-spacing: 0.48px;
  }

  /* icon */
  .star-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

    display: block;

    fill: var(--primary-svg-color);
    opacity: 0.2;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .burger {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .logo-container {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
  }

  .dark-light-desctop {
    display: block;
  }

  /* Header nav */
  .header-nav-home {
    font-size: 16px;
    line-height: 112.5%;
    letter-spacing: 0.32px;
    color: var(--primary-text-color);
  }

  .header-nav-favorite {
    font-size: 16px;
    line-height: 112.5%;
    letter-spacing: 0.32px;
    color: var(--primary-text-color);
  }

  .header-nav {
    position: relative;
  }

  .header-link-nav-container {
    position: absolute;
    left: 15%;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    z-index: 10;

    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 192px;
    height: 80px;
    padding: 18px 24px;

    background: var(--accent-color);
    border-radius: 16px;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;

    transition: visibility var(--general-transition),
      opacity var(--general-transition),
      pointer-events var(--general-transition);
  }

  .header-link-nav {
    font-size: 14px;
    line-height: 128.571%;
    letter-spacing: 0.28px;
    color: rgba(253, 253, 255, 0.5);

    transition: color var(--general-transition);
  }

  .header-link-nav:focus,
  .header-link-nav:hover {
    color: var(--primary-svg-color);
  }

  .is-open-drop-down-menu {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
