.hero-textcontent-box {
  max-width: 335px;
}

.slogan {
  margin-bottom: 18px;

  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.slogan-accent {
  font-style: italic;
  color: var(--accent-color);
}

.slogsn-desc {
  margin-bottom: 36px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

.hero-btn {
  padding: 14px 28px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: var(--primary-svg-color);

  background-color: var(--accent-color);
  border: none;
  border-radius: 12px;
  transition: background-color var(--general-transition);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-color);
}
.up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 5px 3px 5px rgba(88, 109, 204, 0.5);

  color: var(--primary-svg-color);
  background-color: var(--accent-color);
  right: 10px;
  bottom: 30px;
  letter-spacing: 0.28px;
  font-weight: 600;
  line-height: 1.5;
  transition: background-color var(--general-transition);
}

.up-button:hover,
.up-button:focus {
  background-color: var(--active-color);
  transition: background-color var(--general-transition);
}

.hero-icon-box-desc {
  width: 173px;
  margin-top: 40px;
  margin-left: auto;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

@media screen and (max-width: 767.9px) {
  .hero-container {
    padding-top: 68px;
    padding-left: 15px;
    padding-right: 6px;
  }

  .hero-textcontent-box {
    margin-left: 5px;
    margin-bottom: 27px;
  }

  .hero-img-box {
    height: 481px;

    background: url(/img/hero/rectangle.png)-5px 17px,
      url(/img/hero/elements.svg) 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .dark-theme .hero-img-box {
    background: url(/img/hero/rectangle.png)-5px 17px,
      url(/img/hero/elements_dark_bg.svg) 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hero-icon-box-desc {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    position: relative;

    display: flex;
    align-items: center;
    padding-top: 70px;

    background: url(/img/hero/rectangle-tablet.png) 368px 101px,
      url(/img/hero/elements_tablet.svg) 363px 70px;
    background-repeat: no-repeat;
  }
  .dark-theme .hero-container {
    background: url(/img/hero/rectangle-tablet.png) 368px 101px,
      url(/img/hero/elements_tablet_dark_bg.svg) 363px 70px;
    background-repeat: no-repeat;
  }

  .hero-textcontent-box {
    max-width: 371px;
  }

  .slogan {
    position: relative;

    width: 384px;
    margin-bottom: 24px;

    font-size: 44px;
    line-height: 1.1;
  }

  .slogsn-desc {
    width: 338px;
    margin-bottom: 48px;

    font-size: 16px;
    line-height: 1.5;
  }

  .hero-btn {
    padding: 22px 44px;

    font-size: 18px;
    line-height: 1.3;
  }
  .up-button {
    width: 40px;
    height: 40px;
  }

  .hero-img-box {
    height: 593px;
    padding-top: 44px;
  }

  .hero-icon-box-desc {
    width: 198px;
    margin-top: 51px;
    margin-left: 91px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    justify-content: space-between;
    padding-top: 34px;

    background: url(/img/hero/elements_desktop.svg) 711px 34px,
      url(/img/hero/rectangle-desktop.png) 725px 85px;
    background-repeat: no-repeat;
  }
  .dark-theme .hero-container {
    background: url(/img/hero/elements_desktop_dark_bg.svg) 711px 34px,
      url(/img/hero/rectangle-desktop.png) 725px 85px;
    background-repeat: no-repeat;
  }

  .slogan {
    position: relative;

    width: 555px;
    margin-bottom: 28px;

    font-size: 64px;
  }

  .slogsn-desc {
    width: 478px;
    margin-bottom: 56px;

    font-size: 20px;
    line-height: 1.3;
  }

  .hero-img-box {
    height: 672px;
    padding-top: 9px;
  }

  .hero-icon-box-desc {
    width: 219px;
    margin-left: 111px;

    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.36px;
  }
  .up-button {
    right: 36px;
  }
}
