.hero-textcontent-box {
  max-width: 335px;
}
.slogan {
  color: var(--primary-text-color-light-theme);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 18px;
}
.slogan-accent {
  font-style: italic;
  color: var(--accent-color);
}
.slogsn-desc {
  color: var(--primary-text-color-light-theme);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 36px;
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--primary-text-color-dark-theme);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  /* display: flex; */
  padding: 14px 28px;
  /* align-items: flex-start; */
  border: none;
  border-radius: 12px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #6e7fcf;
}

@media screen and (max-width: 767.9px) {
  .hero-container {
    padding-top: 68px;
    padding-left: 15px;
    padding-right: 6px;
  }
  .hero-textcontent-box {
    margin-left: 5px;
    margin-bottom: 27px;
  }
  .hero-img-box {
    /* position: relative; */
    /* left: -5px; */
    /* max-width: 354px; */
    height: 481px;
    /* background: url(/img/hero/Rectangle725.png), url(/img/hero/elements.svg); */
    /* background-position: 10px -7px; */
    background: url(/img/hero/Rectangle725.png)-5px 17px,
      url(/img/hero/elements.svg) 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 70px;
    display: flex;
    align-items: center;
  }
  .hero-textcontent-box {
    max-width: 384px;
  }
  .slogan {
    font-size: 44px;
    line-height: 1.1;
    margin-bottom: 24px;
  }
  .slogsn-desc {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 48px;
    width: 338px;
  }
  .hero-btn {
    font-size: 18px;
    line-height: 1.3;
    padding: 22px 44px;
  }
  .hero-img-box {
    height: 593px;
    background: url(/img/hero/Rectangle725_tablet.png)-5px 17px,
      url(/img/hero/elements.svg) 0px 0px;
  }
}

.hero-icon-box-desc {
  margin-top: 40px;
  color: var(--primary-text-color-light-theme);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  width: 173px;
  margin-left: auto;
  margin-right: auto;
}
