.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background-color: rgba(21, 21, 21, 0.6);
  visibility: visible;
  opacity: 1;
  overflow: auto;
  transition: opacity var(--general-transition),
    visibility var(--general-transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);

  width: 335px;
  max-height: 90%;
  padding: 40px 20px;

  background-color: var(--primary-bg-color);
  border-radius: 15px;

  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: transform var(--general-transition),
    opacity var(--general-transition), visibility var(--general-transition);

  /* scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%); */
}

.backdrop .modal {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 335px) {
  .modal {
    width: 100%;
  }
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background-color: transparent;
  border: none;
  transition: fill var(--general-transition);
}

.modal-close-icon {
  width: 22px;
  height: 22px;

  stroke: var(--primary-text-color);
  transition: stroke var(--general-transition);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  stroke: var(--accent-color);
}

.modal-btns {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-btns button {
  font-size: 14px;
  font-family: var(--primary-font-family);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.28px;
}

.add-or-remove-from-ls-modal-btn {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;

  color: var(--primary-svg-color);

  border: none;
  border-radius: 12px;
  background-color: var(--accent-color);
  transition: background-color var(--general-transition);
}

.add-or-remove-from-ls-modal-btn:hover,
.add-or-remove-from-ls-modal-btn:focus {
  background-color: rgba(110, 127, 207, 1);
}

.back-modal-close-btn {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;

  color: var(--primary-text-color);

  background-color: rgba(36, 36, 36, 0.1);
  border-radius: 12px;
  border: none;
  transition: background-color var(--general-transition);
}

body.dark-theme .back-modal-close-btn {
  background-color: rgba(253, 253, 255, 0.1);
}

.back-modal-close-btn:hover,
.back-modal-close-btn:focus {
  background-color: rgba(36, 36, 36, 0.2);
}

body.dark-theme .back-modal-close-btn:hover,
body.dark-theme .back-modal-close-btn:focus {
  background-color: rgba(253, 253, 255, 0.2);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 600px;
    padding: 40px;
  }

  .modal-close-btn {
    top: 18px;
    right: 18px;
  }

  .modal-close-icon {
    width: 24px;
    height: 24px;
  }

  .modal-btns {
    flex-direction: row;
    gap: 18px;
  }

  .add-or-remove-from-ls-modal-btn {
    width: 251px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.36px;
  }

  .modal-remove-button {
    width: 291px;
  }

  .back-modal-close-btn {
    width: 172px;
    padding: 16px 60px;

    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.36px;
  }
}
