.ingredient-title {
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

.ingredient-type {
  margin-bottom: 20px;
  padding-bottom: 20px;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  color: rgba(36, 36, 36, 0.5);

  border-bottom: 1px solid rgba(36, 36, 36, 0.1);
}

body.dark-theme .ingredient-type {
  color: rgba(253, 253, 255, 0.5);
  border-color: rgba(253, 253, 255, 0.1);
}

.ingredient-description {
  max-height: 167px;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.4;
  color: rgba(36, 36, 36, 0.5);

  overflow: auto;
  /* scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%); */
}

body.dark-theme .ingredient-description {
  color: rgba(253, 253, 255, 0.5);
}

.ingredient-description-name {
  font-weight: 600;
  color: var(--primary-text-color);
}

.ingredient-properties-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
  padding-left: 20px;

  list-style: disc;
}

.ingredient-properties-item {
  font-size: 14px;
  line-height: 1.2;
  color: rgba(36, 36, 36, 0.8);
}

body.dark-theme .ingredient-properties-item {
  color: rgba(253, 253, 255, 0.8);
}

@media screen and (min-width: 768px) {
  .ingredient-title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.2;
  }

  .ingredient-type {
    margin-bottom: 18px;
    padding-bottom: 22px;

    font-size: 16px;
    line-height: 1.1;
  }

  .ingredient-description {
    max-height: 107px;
  }
}
