/* .cocktail-modal {
  width: 320px;
  height: 895px;
  overflow-y: auto;
} */

/* @media only screen and (max-width: 335px) {
  .cocktail-modal {
    width: 100%;
    overflow: auto;
  }
}

@media only screen and (max-height: 900px) {
  .cocktail-modal {
    height: 700px;
  }
}

@media only screen and (min-width: 335px) {
  .cocktail-modal {
    width: 335px;
  }
}

@media only screen and (max-width: 767px) and (max-height: 636px) {
  .cocktail-modal {
    height: 96%;
    overflow: auto;
  }
}

@media only screen and (min-width: 768px) {
  @media only screen and (max-height: 526px) {
    .cocktail-modal {
      height: 96%;
      overflow: auto;
    }
  }

  @media screen and (min-height: 527px) {
    .cocktail-modal {
      height: 506px;
    }
  }
} */

.cocktail-img {
  width: 295px;
  height: 277px;
  border-radius: 16px;
  /* Temporary styles */
  border-style: dashed;
  border-width: 2px;
}

.cocktail-ingredients-title {
  margin-top: 40px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}

.cocktail-instr-title {
  margin-bottom: 14px;
}

.cocktail-per {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(36, 36, 36, 0.5);
}

.cocktail-instruction {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(36, 36, 36, 0.5);
}

.cocktail-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
  padding-left: 20px;
  list-style: disc;
}

.cocktail-item {
  font-size: 14px;
  line-height: 1.2;
  color: rgba(36, 36, 36, 0.8);
  transition: color var(--general-transition);
}

.cocktail-item:hover,
.cocktail-item:focus {
  color: var(--accent-color);
}

.cocktail-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  display: none;
}

@media only screen and (min-width: 768px) {
  /* 
    .cocktail-title {
        margin-bottom: 12px;
        font-size: 20px;
        line-height: 1.2;
    } */

  .cocktail-tabl-and-laptop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: left;
    gap: 2rem;
  }

  .cocktail-title {
    display: block;
  }

  .cocktail-ingredients-title {
    margin-top: 20px;
  }
}
