.cocktails-section {
  padding-bottom: 80px;
}

.random-cocktails-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cocktail-card {
  padding: 14px 14px 20px 14px;

  background: var(--primary-bg-color);
  border-radius: 20px;
  box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.05);
}

.cocktail-card-img {
  border-radius: 16px;
}

.cocktail-info {
  padding: 20px 6px 0px 6px;
}

.cocktail-title {
  margin-bottom: 14px;

  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.cocktail-description {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 18px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

body.dark-theme .cocktail-description {
  color: rgba(253, 253, 255, 0.8);
}

.cocktail-card-btns-wrapper {
  display: flex;
  gap: 15px;
}

.learn-more-cocktail-btn {
  width: 232px;
  height: 48px;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 0.28px;
  white-space: nowrap;
  color: var(--primary-text-color);

  background-color: var(--primary-bg-color);
  border: 1px solid var(--accent-color);
  border-radius: 12px;

  transition: color var(--general-transition),
    background-color var(--general-transition);
}

.learn-more-cocktail-btn:hover,
.learn-more-cocktail-btn:focus {
  background-color: var(--accent-color);
}

body.light-theme .learn-more-cocktail-btn:hover,
body.light-theme .learn-more-cocktail-btn:focus {
  color: var(--primary-bg-color);
}

.add-to-localstorage-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  background-color: var(--accent-color);
  border-radius: 12px;
  border: none;

  transition: background-color var(--general-transition);
}

.add-to-localstorage-btn:hover,
.add-to-localstorage-btn:focus {
  background-color: var(--active-color);
}

.cocktail-card-btns-wrapper .svg-icon-heart {
  stroke: var(--primary-svg-color);
  fill: transparent;

  transition: fill var(--general-transition);
}

@media screen and (min-width: 768px) {
  .cocktails-section {
    padding-bottom: 100px;
  }

  .random-cocktails-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }

  .cocktail-card {
    flex-basis: calc((100% - 16px) / 2);
    padding-bottom: 24px;
  }

  .cocktail-info {
    padding: 24px 10px 0px 10px;
  }

  .cocktail-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
  }

  .learn-more-cocktail-btn {
    width: 225px;
    height: 56px;

    font-size: 18px;
    letter-spacing: 0.36px;
  }

  .add-to-localstorage-btn {
    width: 56px;
    height: 56px;
  }

  .cocktail-card-btns-wrapper .svg-icon-heart {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .random-cocktails-list {
    column-gap: 24px;
    row-gap: 44px;
  }

  .cocktail-card {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .cocktail-description {
    margin-bottom: 24px;
  }
}

.cocktail-card-btns-wrapper .svg-icon-heart.is-active {
  fill: var(--primary-svg-color);
}
