.keyboard__list {
    display: none;

    @media screen and (min-width: 768px) {
        display: inline-block;
    }

    .keyboard__list {
        @media screen and (min-width: 768px) {
            display: inline-block;
        }
    }

    .keyboard--item {
        @media screen and (min-width: 768px) {
            width: 24px;
            height: 25px;

            font-weight: 700;
            font-size: 14px;
            line-height: 1.5;

            align-items: center;
            text-align: center;

            color: #5f6775;
            cursor: pointer;
        }

        @media screen and (min-width: 1280px) {
            width: 40px;
            height: 40px;

            font-weight: 700;
            font-size: 24px;
        }

        color: #5f6775;
    }

    @media screen and (min-width: 1280px) {
        font-weight: 700;
        font-size: 24px;
    }
}

.keyboard--item:hover,
.keyboard--item:focus {
    color: #fd5103;
}

.keyboard--item---black {
    color: #202025;
}

.first--line,
.second--line,
.third--line {
    display: block;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1px;
}

details {
    position: relative;
    width: 300px;
    margin-right: 1rem;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.custom-select {
    margin-bottom: 20px;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        margin-left: 0;
    }

}

details[open] {
    z-index: 1;
}

summary {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93px;
    height: 34px;
    padding: 0;
    cursor: pointer;
    border: 1px solid #fd5103;
    border-radius: 4px;
    background-color: transparent;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

summary:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #fd5103;
    border-left: 2px solid #fd5103;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transition: transform ease-in-out 100ms;
    margin-top: 2px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 6px;
}

summary:focus {
    outline: none;
}

details[open] summary:after {
    transform: rotate(-45deg) translate(0%, 0%);
}

.select-item {
    margin: 0;
    padding: 10px;
}

.select-item:hover {
    background-color: #fd52032f;
}

/* FAKE SELECT */

summary.radios {
    counter-reset: radios;
}

summary.radios:before {
    content: var(--selection);
}

input[type='radio'] {
    counter-increment: radios;
    appearance: none;
    display: none;
}

input[type='radio']:checked {
    display: inline;
    --display: block;
}

input[type='radio']:after {
    content: attr(title);
    padding-left: 7px;
    display: block;
    font-size: 16px;
    color: #fd5103;
}

.select-list {
    counter-reset: labels;
    width: 93px;
    height: 140px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
    margin: 0;
    border: 1px solid #fd5103;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
}

label {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    font-size: 10px;
    color: #5f6775;
}

.select-list::-webkit-scrollbar {
    width: 4px;
    background: #fd520321;
}

.select-list::-webkit-scrollbar-thumb {
    background: #fd5103;
    border-radius: 10px;
}

.select-list::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}


/* input styles */

.header__form {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.form__input {
    width: 100%;
    max-width: 288px;
    height: 40px;
    border: 1px solid #fd5103;
    background-color: transparent;
    border-radius: 4px;
    padding-left: 48px;
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: inherit;
}

.form__input::placeholder {
    color: #5f6775;
    opacity: 0.4;
}

.form__input:focus {
    outline: 1px solid #fd5103;
}

.form__btn {

    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    left: 1px;
    height: 38px;
    width: 40px;
    fill: #fd5103;
    border: none;
    border-right: 1px solid #fd5103;
    border-radius: 4px 0px 0px 4px / 5px 0px 0px 4px;
    background-color: transparent;
}