/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import '../../node_modules/slim-select/dist/slimselect.css';
@import '../../node_modules/tui-pagination/dist/tui-pagination.min.css';

@import url('./reset.css');
@import url('./general.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./search-cocktails.css');
@import url('./cocktails.css');
/* @import url('./pagination.css'); */
@import url('./tui-pagination.css');
@import url('./footer.css');
@import url('./modal/modal-general.css');
@import url('./modal/modal-cocktail.css');
@import url('./modal/modal-ingredient.css');
@import url('./favorite/favorite-general.css');
@import url('./favorite/favorite-cocktails-section.css');
@import url('./favorite/favorite-ingredients-section.css');
@import url('./features/feedback.css');
@import url('./features/scroll-bar.css');
