.swiper {
  width: 100%;
  height: auto;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet-active {
  width: 28px;
  background-color: var(--accent-color);
  border-radius: 25px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-left: 0;
  margin-right: 0;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.swiper-pagination {
  display: flex;
  column-gap: 13px;
  justify-content: center;
}
